/* ---------------------Navigation--------------------- */
#first-navbar {
  top: -60px;
  background: #f72210;
  /* transition: top 0.1s; */
}

#first-navbar > a {
  display: block;
  width: 131px;
  height: 20px;
  background: url("../images/mainlogo.svg") no-repeat;
}

.subscribe-link {
  color: #f72210;
}

.subscribe-link:hover {
  color: #f72210;
}

.menu-bar {
  top: 12px;
  right: 20px;
  cursor: pointer;
  /* border: 0; */
  background: none;
  /* opacity: 0; */
}

.fa-bars,
.fa-times {
  color: #fb9a94;
}

.menu-bar .fa-times {
  display: none;
}

#menu {
  position: absolute;
  left: -9999px;
}

.nav-hidden {
  top: 56px;
  right: 13px;
  left: 100vw;
  width: 220px;
  height: calc(100vh - 56px);
  box-shadow: #0000001a -2px 0 2px;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: all .3s ease;
}

.nav-hidden .nav-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 0 3px 15px;
  font-size: 18px;
  font-weight: 700;
  color: #000;
}

.nav-hidden .nav-link:hover {
  background: #000;
  color: #fff;
}

.nav-hidden .fas {
  color: #0000008c
}

.nav-hidden .form-inline {
  padding: 13px;
}

#search-one {
  font-size: 16px;
}

.nav-hidden label {
  width: 20px;
  height: 20px;
  background: url("../images/search.svg") no-repeat;
}

#search-one:focus {
  outline: none;
}

#search-one:focus::placeholder {
  color: #fff;
}

#menu:checked ~ .nav-hidden {
  left: calc(100vw - 233px);
}

#menu:checked + label i:first-child {
  display: none;
}

#menu:checked + label i:last-child {
  display: inline-block;
}

/* ----------------Overall Page Wrapper----------------- */
.overall-wrap {
  background: #f4f5f6;
}

/* ------------------------Header----------------------*/
.header-section {
  background: #f72210;
}

.header-section > a {
  width: 395px;
  height: 60px;
  background: url("../images/mainlogo.svg") no-repeat;
}

.second-navbar {
  border-bottom: 2.5px solid #f4f5f6;
}

.second-navbar::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  display: block;
  width: 75px;
  background-color: #f72210;
  border-left: 12px solid white;
  border-top: 13px solid #f72210;
}

.main-nav {
  z-index: 100;
}

.main-nav li {
  border-left: 0.5px solid #d9d9d9;
}

.main-nav .nav-link:hover {
  color: #f72210;
}

.main-nav .nav-link {
  padding: 0 16px;
  font-size: 18px;
  font-weight: 700;
  color: #000;
}

.nav-form {
  left: 0;
  right: 6%;
}

#search-two {
  /* width: 60px; */
  height: 27px;
  font-size: 16px;
  z-index: 100;
  transition: all .2s ease;
}

.nav-form .search-field {
  width: 20px;
  height: 20px;
  background: url("../images/search.svg") no-repeat;
}

#search-two:focus {
  flex: 1;
  padding: 12px;
  outline: none;
  z-index: 101;
}

#search-two:focus::placeholder {
  color: #fff;
}

/* Main Wrapper */
.main-wrap {
  margin-top: 70px;
}