.temp {
  background: #f72210;
}

.temp > a {
  display: block;
  width: 131px;
  height: 20px;
  background: url("../images/mainlogo.svg") no-repeat;
}

.subscribe-link {
  color: #f72210;
}

.arrow {
  font-size: 30px;
}

.nav-button {
  top: 12px;
  right: 12px;
  /* border: 0; */
  background: none;
}

.fa-bars,
.fa-times {
  color: #fb9a94;
}

.nav-button .fa-times {
  display: none;
}

.overall-wrap {
  background: #f4f5f6;
}

.header-section {
  background: #f72210;
}

.header-section > a {
  width: 395px;
  height: 60px;
  background: url("../images/mainlogo.svg") no-repeat;
}

.second-navbar {
  border-bottom: 2.5px solid #f4f5f6;
}

.second-navbar::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  display: block;
  width: 75px;
  background-color: #f72210;
  border-left: 12px solid white;
  border-top: 13px solid #f72210;
}

.main-nav {
  z-index: 100;
}

.main-nav li {
  border-left: 0.5px solid #d9d9d9;
}

.main-nav .nav-link:hover {
  color: #f72210;
}

.main-nav .nav-link {
  padding: 0 16px;
  font-size: 18px;
  font-weight: 900;
  color: #000;
}

.nav-form {
  top: 3px;
  left: 0px;
  right: 80px;
}

.nav-form #search {
  width: 60px;
  height: 54px;
  z-index: 100;
  transition: all .2s ease;
}

.nav-form .search-box {
  width: 20px;
  height: 20px;
  background: url("../images/search.svg") no-repeat;
  z-index: 400;
}

.nav-form #search:focus {
  flex: 1;
  padding: 12px;
  z-index: 101;
}

#search:focus::placeholder {
  color: #fff;
}