#first-navbar {
  top: -60px;
  background: #f72210;
  transition: top 0.1s;
}

.temp {
  /* background: #f72210; */
  /* opacity: 0; */
}

#first-navbar > a {
  display: block;
  width: 131px;
  height: 20px;
  background: url("../images/mainlogo.svg") no-repeat;
}

.subscribe-link {
  color: #f72210;
}

.subscribe-link:hover {
  color: #f72210;
}

/* .arrow {
  font-size: 30px;
} */

.menu-bar {
  top: 12px;
  right: 20px;
  /* border: 0; */
  background: none;
  /* opacity: 0; */
}

.fa-bars,
.fa-times {
  color: #fb9a94;
}

.menu-bar .fa-times {
  display: none;
}

#menu {
  position: absolute;
  left: -9999px;
}

.nav-hidden {
  top: 56px;
  right: 13px;
  width: 220px;
  height: calc(100vh - 56px);
  box-shadow: rgba(0,0,0,.1) -2px 0 2px;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: all .3s ease;
}

/* .test {
  border: 1px solid yellow;
}

.nav-test:active + .temp {
  opacity: 1;
} */

.overall-wrap {
  background: #f4f5f6;
}

.header-section {
  background: #f72210;
}

.header-section > a {
  width: 395px;
  height: 60px;
  background: url("../images/mainlogo.svg") no-repeat;
}

.second-navbar {
  border-bottom: 2.5px solid #f4f5f6;
}

.second-navbar::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  display: block;
  width: 75px;
  background-color: #f72210;
  border-left: 12px solid white;
  border-top: 13px solid #f72210;
}

.main-nav {
  z-index: 100;
}

.main-nav li {
  border-left: 0.5px solid #d9d9d9;
}

.main-nav .nav-link:hover {
  color: #f72210;
}

.main-nav .nav-link {
  padding: 0 16px;
  font-size: 18px;
  font-weight: 700;
  color: #000;
}

.nav-form {
  left: 0;
  right: 6%;
}

.nav-form #search-two {
  /* width: 60px; */
  height: 27px;
  z-index: 100;
  transition: all .2s ease;
}

.nav-form .search-field {
  width: 20px;
  height: 20px;
  background: url("../images/search.svg") no-repeat;
}

.nav-form #search-two:focus {
  flex: 1;
  padding: 12px;
  z-index: 101;
}

#search-two:focus::placeholder {
  color: #fff;
}